.App{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.general {
    width: 400px;
    height: 230px;
    border-radius: 10px;
    border: 5px solid cornflowerblue;
    background-color: #bce7a1;
    padding: 15px;
}

.counter {
    width: 350px;
    height: 80px;
    border-radius: 20px;
    border: 5px solid #252e6e;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background-color: cornflowerblue;
}

.score {
    color: white;
    font-weight: 600;
    font-size: 50px;
}

.score-red {
    color: red;
    font-weight: 600;
    font-size: 50px;
}

.buttons {
    display: flex;
    margin-left: 20px;
    border: 3px solid #252e6e;
    width: 350px;
    height: 60px;
    background-color: #10c2c2;
    border-radius: 20px;
    align-items: center;
    justify-content: space-around;
}

.button {
    border-radius: 10px;
    width: 110px;
    height: 30px;
    background-color: lightgreen;
    cursor: pointer;
}

.button:hover {
    background-color: #286928;
}

.input-settings{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 30px;
}
.inputAndText {
    display: flex;
    justify-content: space-around;
}
.text {
    color: cornflowerblue;
    font-size: 20px;
}
.input {
    border: 5px solid #252e6e;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    color: #000000;
    background-color: #e7e4a1;
}
.input-error {
    border: 5px solid #7e0b0b;
    background-color: #e18282;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
}

.settings {
    color: #252e6e;
    margin-top: 40px;
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
}
.settings-error {
    color: red;
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}



